#ajanlasok {
  height: 100%;
  width: 100%;
  /*display: none;*/
  position: fixed;
  z-index: 7;
  background-color: rgba(0,0,0, 0.7);
  top: 0;
  left: 0;
}

#ajanlasok .content {
  background-color: rgba(255,255,255, 0.7);
  width: 42%;
  height: 230px;
  position: absolute;
  top: 35%;
  left: 33%;
  align: center;
  padding: 8px;
}

#ajanlasok .content #velemenyek {
  width: auto;
  align: center;
  color: rgb(65, 0, 0);
  border: 3px solid;
}

#ajanlasok .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}


.bejegyz {
  background-color: rgb(185, 126, 60);
  border: solid #362b0d;
  border-width: 1.5px 3px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  z-index: auto;
}


.hozzaszolas {
  position: absolute;
  left: 1%;
  bottom: 1%;
  width: auto;
  border: 3px dotted black;
  color: white;
  background-color: pink;
  padding: 2px;
}

.hozzaszolni {
  position: relative;
  top: 100%;
  width: 70%;
  height: 10px;
}

.hr {
  background-color: #362b0d;
}

@media screen and (max-width: 800px) {
  .b {
    width: 80%;
    height: 160px;
  }
}


/*blog menuje*/

#sidenav {
  width: 200px;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  background-color: #410000;
  overflow-x: hidden;
  padding-top: 20px;
  margin-bottom: 20px;
}

#sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

#sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  background-color: #1e0000;
}

.active {
  background-color: #c70202;
  color: white;
}

#sidenav .dropdown-container {
  display: none;
  background-color: #d9c7c7;
}

#sidenav .dropdown-container .pluszgomb:hover, #sidenav .dropdown-container a:hover {
  background-color: #410000;
  color: #ffffff;
}

#sidenav .dropdown-container a {
  border: none;
  text-decoration: none;
  background-color: #d9c7c7;
  width: 100%;
  color: #000000;
}

#sidenav .dropdown-container .pluszgomb {
  border: none;
  text-decoration: none;
  background-color: #d9c7c7;
  width: 40px;
  height: 40px;
  /*color: #000000;*/
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.stickys {
  position: fixed;
  top: 0;
  width: 100%;
}

.stickys + .teljes {
  padding-top: 60px;
}

#sidenav .dropdown-container .kicsi {
  background-color: red;
}

#sidenav .dropdown-container .kicsi:hover {
  background-color: black;
}

#sidenav .dropdown-container #plusz {
  width: 120%;
  height: 90%;
  background: transparent;
  opacity: 1;
}

#sidenav .dropdown-container .pluszgomb:hover #plusz {
  filter: invert(100%);
}

.ujelem {
  background-color: #d9c7c7;
  color: #000000;
}

#sidenav .dropdown-container .ujelem #ujTema {
  position: absolute;
  left: 45px;
  bottom: 3px;
  width: 110px;
  display: inline;
  padding: 6px 12px;
  margin: 0;
  box-sizing: border-box;
  border: 3px solid red;
  border-radius: 6px;
}

#sidenav .dropdown-container .ujelem #pipagomb {
  position: absolute;
  left: 160px;
  bottom: 5px;
  border: none;
  text-decoration: none;
  width: 35px;
  height: 30px;
  display: inline;
  background-color: #d9c7c7;

}
#sidenav .dropdown-container .ujelem #pipa {
  width: 160%;
  height: 100%;
  background: transparent;
  opacity: 1;

}
